.search {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.searchResults {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 112px);
  flex-grow: 1;
  padding: 24px 32px;

  h3 {
    flex-shrink: 0;
    margin: 24px 0;
    font-size: 48px;
    font-weight: normal;
  }
}